{cover_enabled, true}.

{erl_opts, [
	debug_info
]}.

{deps, [
        {nklib, ".*", {git, "https://github.com/esl/nklib.git", {branch, "remove-lager"}}},
        {ranch, "2.1.0"},
        {cowboy, "2.9.0"},

	% Used for tests
	{gun, ".*", {git, "https://github.com/ninenines/gun.git",
                     {ref, "427230d6f94f5b8a396fd504a73d73d1d65ab0a7"}}}
]}.
