{cover_enabled, true}.

{erl_opts, [
	debug_info,
	fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
        {nklib, ".*", {git, "https://github.com/michalwski/nklib.git", {ref, "006c1b7"}}},
        {ranch, "2.1.0"},
        {cowboy, "2.9.0"},
	% {enm, ".*", {git, "https://github.com/basho/enm.git", {branch, "master"}}},

	% Used for tests
	{gun, ".*", {git, "https://github.com/ninenines/gun.git",
                     {ref, "427230d6f94f5b8a396fd504a73d73d1d65ab0a7"}}}
]}.
